.itemsList-ul {
  list-style-type: none;
}

.itemsList-ul li {
  padding: 5px;
}

.itemsList-item-complete {
  color: #D3D3D3;
}

.itemsList-item-toggleCompletion {
  height: 30px;
  width: 100px;
  margin-left: 10px;
}

.itemsList-item-delete {
  height: 30px;
  width: 100px;
  margin-left: 10px;
}
